In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# read data file
df = pd.read_csv("../dataset/Ukraine_10K_tweets_sentiment_analysis.csv")
df.head()

,Tweet,polarity,subjectivity,Sentiment
0,RT @ChristopherJM: Zelensky also confirms CIA ...,0.000000,0.000000,Negative
1,RT @oryxspioenkop: Russia acquired these vehic...,-0.100000,0.300000,Positive
2,RT @RepMTG: I’m calling for an audit of every ...,-0.035714,0.607143,Positive
3,"RT @KyivIndependent: ""Russian goal seems to be...",0.034091,0.113636,Negative
4,RT @william98161886: I see Rishi just given an...,-0.325521,0.166667,Positive

In [3]:
# check data types of columns
df.dtypes

Tweet            object
polarity        float64
subjectivity    float64
Sentiment        object
dtype: object

In [4]:
# caculate the number of Dataframe rows and columns 
df.shape

(10167, 4)

In [5]:
# create a 5000 rows sample for streaming data
df_stream = df.sample(5000)
df_stream.head(5)

,Tweet,polarity,subjectivity,Sentiment
8266,RT @ChkLil: So if #Ukraine attacked Poland doe...,0.000000,0.000000,Negative
5765,RT @ggreenwald: US funding for war in Ukraine ...,0.136364,0.454545,Negative
9579,@statsjamie Spending cuts - I can guarantee th...,-0.050000,0.550000,Positive
6709,RT @OstapYarysh: ‼️ Gen. Mark Milley: #Ukraine...,0.125000,0.550000,Negative
8615,RT @RonPaul: Did Ukraine Try To Lie Us Into WW...,0.000000,0.000000,Negative

In [6]:
# check if df_stream has enough rows
df_stream.count()

Tweet           4932
polarity        4932
subjectivity    4932
Sentiment       4932
dtype: int64

In [7]:
# create a 5000 rows sample for batch data
df_batch = df.sample(5000)
df_batch

,Tweet,polarity,subjectivity,Sentiment
10075,NaN,NaN,NaN,NaN
4948,Top US general at odds with State Dept on Ukra...,0.275000,0.500000,Negative
7244,Never mind the @StateDept &amp; @CIA-engineere...,-0.100000,0.100000,Positive
6414,RT @Alice_Weidel: Die #Ukraine ehrt 3 deutsche...,0.000000,0.000000,Negative
3821,RT @TobiAyodele: 🇷🇺🇺🇦After Russia missile stri...,-0.100000,0.100000,Positive
...,...,...,...,...
8216,RT @mfa_russia: 💬 President #Putin: Those who ...,0.000000,0.000000,Negative
3142,RT @atrupar: Gen. Milley commits to supporting...,0.250000,0.250000,Negative
2807,RT @McFaul: The longer Putin continues his inv...,0.333333,0.666667,Negative
7642,@sysmith8562 @ki1ngk1 @rsmith1x1 @madison2871 ...,0.500000,0.500000,Negative
9280,RT @ukraine_map: Ukraine🇺🇦 Air Defense Systems...,0.000000,0.000000,Negative

In [8]:
# check if df_batch has enough rows
df_batch.count()

Tweet           4914
polarity        4914
subjectivity    4914
Sentiment       4914
dtype: int64

In [9]:
# export df_stream and df_batch to csv file named 'Streaming_Data.csv' and 'Batch_Data.csv', respectively
df_stream.to_csv("../dataset/Streaming_Data.csv", header=True, index=False)
df_batch.to_csv("../dataset/Batch_Data.csv", header=True, index=False)